rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regras para a coleção agendamentos
    match /agendamentos/{agendamentoId} {
      // Permitir leitura pública
      allow read: if true;
      
      // Permitir criação
      allow create: if true;
      
      // Permitir atualização do status
      allow update: if 
        request.resource.data.status in ['pendente', 'confirmado', 'cancelado'];
      
      // Permitir delete apenas para limpeza automática
      allow delete: if false;
    }
  }
}
